.cui-vertical {
  display: flex;
  flex-direction: column;
}
.cui-horizontal, .cui-wide{
  display: flex;
  flex-direction: row;
}
.cui-center {
  align-items:center  !important;
  justify-content: center !important;
}

@media screen and (max-width: 600px) {
  .cui-wide {
    flex-direction: column;
  }
}

nav {
  width:100%;
  display:flex;
  justify-content: center;
  background-color: #2196F3;
  padding: 2px 0;
  overflow-x:auto;
  overflow-y:hidden;
  white-space: nowrap;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-flex;
  padding: 0px 16px;
}
nav a {
  text-decoration: none;
}
nav a:link {
  font-weight: 400;
  color: white;

}
nav a:visited {
  color: white;

}


@keyframes cui-keys-appear { 0%   { max-height: 0; opacity: 1; } 100% { max-height: 800px; opacity: 1;} }
@keyframes cui-keys-disappear { 0%   { max-height: 200px; opacity: 1} 100% { max-height: 0; opacity: 0;} }
@keyframes cui-keys-left-appear { 0%   { max-height: 0; opacity: 0; left:-100px} 100% { max-height: 200px; opacity: 1; left:0} }
@keyframes cui-keys-right-appear { 0%   { max-height: 0; opacity: 0; left:100px} 100% { max-height: 200px; opacity: 1; left:0} }
.cui-anim-remove { animation-name: cui-keys-disappear; }
.cui-anim-add { animation-name: cui-keys-appear; }
.cui-anim-redo { animation-name: cui-keys-right-appear; }

.cui-card {
  align-items: flex-start;
  padding: 6px; 
  border: 1px dotted #ccc;
  border-radius: 4px;
  font-size: 14px;
  overflow: hidden;
  min-width:64px;
  flex-grow:1;
}
.cui-card img {
  max-width: 100%;
}

.cui-anim {
  position: relative; 
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  will-change: auto;
}

.cui-vertical.cui-space-children > * {
  margin-bottom: 8px;
}
.cui-horizontal.cui-space-children > * {
  margin-right: 8px;
}
.cui-space-children > *:last-child {
  margin: 0;
}

html {
  font-size: 16px;
}

html, * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

body {
  min-height:100vh;
}

h1 {
  font-size: 42px;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}


details {
  display: block;
}

summary {
  display: list-item;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

input {
  overflow: visible;
  border: none;
  border-bottom: 1px solid #2196F3;
}

/* input:not([type]), input[type='text'], input[type='password'] */
input {
    border: 1.5px solid #ddd;
    flex-grow: 1;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 11px 8px -14px #ddd, inset 0 -11px 8px -12px #ddd;
}

.textshadow {
  text-shadow: 3px 0px 5px rgba(5, 44, 54,0.2),-3px 0px 5px rgba(5, 44, 54,0.2);  
}

input:focus {
  outline: none;
}

input:active {
  border-top:none;
}

img {
  max-width: 100%;
  height: auto;
}

table, table.horizontal {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  display: table;
}

tr:nth-child(even) {background: #e7e7e7}
tr:nth-child(odd) {background: #FFF}

th {
  background-color: #2196F3;
  color: white;
  border: none;
}
td {
  border: none;
}

tr {
  text-align:left; 
}

.cuitabs {
  display: flex;
  flex-direction: row;
}
.cuitabs > label {
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  _border: 1px solid rgba(0,0,0,0.1);
  opacity: 0.6;
  padding: 4px 12px;
  border: 1px solid #2196F3;
}
[checked] + label {
  opacity: 1.0;
  background-color: #2196F3;
  color: white;
}
.cuitabs > input {
  display:none;
}
.cuitabs.down > label {
  margin-right: 1px;
  border-radius: 14px 14px 0 0;
}
.cuitabs.up > label {
  border-radius: 0 0 14px 14px;
  margin-right: 1px;
}


[type="checkbox"], [type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: calc(1rem + 12.5px);
  width: calc(1rem + 12.5px);
  min-height: calc(1rem + 12.5px);
  min-width: calc(1rem + 12.5px);
  vertical-align: text-bottom;
  padding: 0;
  flex-basis: calc(1rem + 12.5px) !important;
  flex-grow: 0 !important;
  border: 1px solid #2196F3;
  margin-right: 8px;
  background-color: white;
}
[type="checkbox"]:before, [type="radio"]:before {
  _border: 1px solid #2196F3;
}

[type="checkbox"]:hover, [type="radio"]:hover {
  border: 1px solid black;
}
[type="checkbox"]:focus, [type="radio"]:focus {
  border: 2px solid black;
  outline: none;
}

[type="checkbox"][checked]:before, [type="radio"][checked]:before {
  position: absolute;
}

[type="checkbox"][checked]:before {
  content: '';
  color: #2196F3;
  font-family: sans-serif;
  font-size: calc(1rem + 12.5px);
  top: calc(-0.5rem);
  left: calc(2.25px);
  height: 100%;
}

[type="checkbox"][checked]:before {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[type="checkbox"]:_checked:hover:before {
  left: 8px;
  top: 7px;
}
[type="checkbox"][checked]:focus:before {
  left: 8px;
  top: 5px;
}

[type="radio"] {
  border-radius: 100%;
}

[type="radio"][checked]:before {
  box-sizing: border-box;
  border-radius: 100%;
  content: '';
  background: white;
  border: 8px solid #2196F3;
  width: 100%;
  height: 100%;
}
[type="radio"][checked]:focus:before {
  border-radius: 100%;
  content: '';
  background: white;
  border: 7px solid #2196F3;
  width: 25px;
  height: 25px;
}


button {
  color: #2196F3 !important;
  border-color: #2196F3 !important;

}

button {
  text-transform: uppercase;
  background: #ffffff;
  padding: 5px 20px;
  border: 1px solid #20bf6b;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-weight: bold;
}
button:focus {
  outline: none;
  border-width: 2px;
  margin: -1px;
}

button:hover {
color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}

b, strong {
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  border: 1px dashed #2196F3;
  margin: 8px 0;
  line-height: 1.25em;
  background: linear-gradient(to right, transparent, var(--border-color) 20%, var(--border-color) 80%, transparent);
}

blockquote {
  display: block;
  flex-grow:1;
  position: relative;
  font-style: italic;
  color: #444;
  padding: 0;
  padding-left:32px;
  padding-right: 8px;
  border: none;
  border-left: 3px solid #ddd;
  border-color: #ccc;
}

blockquote:before {
  position: absolute;
  top: -12px;
  left: 4px;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: attr(border-color color);
  content: "\201c";
}

blockquote[cite]:after {
  font-style: normal;
  font-size: 0.75em;
  font-weight: 700;
  content: "\a—  " attr(cite);
  white-space: pre;
}

code, kbd, pre, samp {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.85em;
}

code {
  background: var(--secondary-back-color);
  border-radius: var(--universal-border-radius);
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / 2);
}

kbd {
  background: var(--fore-color);
  color: var(--back-color);
  border-radius: var(--universal-border-radius);
  padding: calc(var(--universal-padding) / 4) calc(var(--universal-padding) / 2);
}

pre {
  overflow: auto;
  background: var(--secondary-back-color);
  padding: calc(1.5 * var(--universal-padding));
  border: 0.0625rem solid var(--secondary-border-color);
  border-left: 0.25rem solid var(--pre-color);
  border-radius: 0 var(--universal-border-radius) var(--universal-border-radius) 0;
}

sup, sub, code, kbd {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

small, sup, sub, figcaption {
  font-size: 0.75em;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


figcaption {
  color: var(--secondary-fore-color);
}

a {
  text-decoration-color: #2196F3;
  margin-right: 8px;
}

a:link {
  color: black;
  color: #2196F3;
}

a:visited {
  color: #1174c3;
}

a:hover, a:focus {
  text-decoration-style: double;
}

